*{
	margin: 0;
	padding: 0;
	bottom:0;
	border: 0;
}


#app-header-se{
	border: 0;
	/*濞撳懘娅庢妯款吇閻ㄥ嫭鐗卞锟�*/
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/*鐏忓繒顔勬径鏉戞禈閺嶏拷*/
	background: url('../img/app_selecter.png') no-repeat scroll right center transparent;
	/*鐏忓繒顔勬径鏉戞嫲閺傚洤鐡ч惃鍕？鐠猴拷*/
	padding-right: 14px;
	
	color: #BF7E19;
	position: absolute;
	right: 2.5%;
	text-align: center;
	width: 70px;
	top: 3px;
	height:40px;
	font-family: "微软雅黑";
	font-size: 16px;
	
}
.mui-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
}

#progressBar{
	background-image:  url("../img/jdt.jpg");
	width:100%;
	height:400px;
	position:fixed; 
	top:0; 
	left:0;
	right: 0;
	background-repeat:no-repeat;
	background-position:center;
	
}


.mui-toast-message{
	background-image: url("../img/toast.png");
	color: #272A33;
	padding: 8px 8px 8px 8px;
}
.mask-body{
	position: relative;
	background-color: rgba(255,255,255,0);
}
.mask-nav{
	width: 25px;
	height: 10px;
	position: absolute;
	top: 7px;
	left: 48.5%;
	background-image: url('../img/jiantou.png');
	background-size : 100% 100%;
	
}
.mask-bottom{
	position: absolute;
	width: 100%;
	height: 85%;
	top: 15%;
	background-color: #1A1D24;
}
.mask-backdrop{
	width: 100%;
	height: 30px;
	position: relative;
}

.mask-bottom-context{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 5%;
	background-color: #1A1D24;
}


.banner{
	position: relative;
	width: 70%;
	height: 160px;
	background-color: #C0C0C0;
	margin-left: 15%;
	top: 1%;
	overflow: hidden;
}

.banner li{
	float: left;
	width: 100%;
	height: 100%;
	list-style: none;
	position: absolute;
	
}

.banner li img{
	
	width: 100%;
	height: 100%;
	background-size:100% 100% ;
	
}

.mui-backdrop-context-info{
	font-size: 14px;
	width: 70%;
	word-wrap: break-word;
	text-align: left;
	overflow: auto;
	height:150px;
	right: 15%;
	position: absolute;
	font-family: "微软雅黑";
	color: #CCCCCC;
	top:170px;
	background-color: rgba(0,0,0,0);
}

.mui-backdrop-context-info1{
	font-size: 14px;
	width: 70%;
	word-wrap: break-word;
	overflow-y: scroll; 
	text-align: left;
	height:auto;
	right: 15%;
	position: absolute;
	font-family: "微软雅黑";
	color: #CCCCCC;
	top:170px;
	background-color: rgba(0,0,0,0);
}
.banner-point{
	top: 150px;
	width: auto;
	height: 5px;
	z-index: 998;
	position: absolute;
}

.banner-point div{
	position: relative;
	top: 0;
	float: left;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	margin-left: 3px;
	background-color: #FF0000;
}

