*{
	margin: 0;
	padding: 0;
	background: #EBEBEB;
}

.mui-toast-message{
	background-image: url("../img/toast.png");
	color: #272A33;
	padding: 8px 8px 8px 8px;
}
.body{
	width: 100%;
	background: #EBEBEB;
}
.title{
	width: 100%;
	height: 40px;
	position: relative;
}
.title div{
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-family: "寰蒋闆呴粦";
	font-weight: 600;
	font-size: 16px;
}
.title select{
	-webkit-appearance: none;
	position: absolute;
	top: 0;
	right: 10px;
	width: 75px;
	height: 40px;
	font-family: "寰蒋闆呴粦";
	font-size: 14px;
	/*濞撳懘娅庢妯款吇閻ㄥ嫭鐗卞锟�*/
	appearance: none;
	-moz-appearance: none;
	/*鐏忓繒顔勬径鏉戞禈閺嶏拷*/
	background: url('../img/指向-bottom.png') no-repeat scroll right center transparent;
	/*鐏忓繒顔勬径鏉戞嫲閺傚洤鐡ч惃鍕？鐠猴拷*/
	padding-right: 14px;
}
.search{
	width: 94%;
	height: 40px;
	margin-left: 3%;
	position: relative;
}
.search-button{
	height: 20px;
	width: 20px;
	margin-top: 15px;
	margin-left: 10px;
	background-image: url('../img/search.png');
	background-size: 100% 100%;
	float: left;
}

.line{
	height: 1px;
	width: 94%;
	margin-left: 3%;
	background-color: #B6B6B6;
	
}
.child{
	width: 100%;
}
.child-item-body{
	width: 100%;
	border: none;
	height: 96%;
	margin: 0;
}
